<style>
    .footer {
    margin-top: auto; /* Закрепление футера внизу страницы */
    height: 100px;
  }
</style>

<div class="b-example-divider"></div>
<footer class="py-5 bg-light text-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Создать объявление</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Регистрация</a></li>
        </ul>
      </div>
      <div class="col-4 offset-1">
        <form>
          <h5>Вы можете помочь разработчику</h5>
          <p>Отправьте свое пожертвование на номер карты  </p>
          <div class="d-flex w-100 gap-3">
            <a href="https://www.tinkoff.ru/cardtocard/" target="_blank" class="btn btn-primary" role="button">Перевести</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-light text-dark">
    <div class="d-flex justify-content-between py-4 my-3 border-top">
      <p>&copy; 2024 RentAll, Inc.</p>
    </div>
  </div>
</footer>
