@tailwind base;
@tailwind components;
@tailwind utilities;

/* advertisement-board.component.css */
input[type="text"] {
    border: none;
    border-radius: 0;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    padding-left: 1rem; /* Добавляем отступ слева для текста в input */
    background-color: #d1d5db; /* Цвет фона строки поиска */
    color: #1f2937; /* Цвет текста в строке поиска */
  }
  
  button {
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1a365d;
  }
  
  svg {
    fill: currentColor; /* Заполнение иконки текущим цветом текста */
    width: 1em; /* Устанавливаем размер иконки */
    height: 1em;
  }
  
  
